@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg);
  font-family: 'outfit', sans-serif;
  color: #fff;
  font-size: 18px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card-bg);
  margin: 3rem;
  padding: 3rem;
  border-radius: 1.5rem;
}
.imgCard {
  position: relative;
}
.containerImg > img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.containerImg {
  border-radius: 1.5rem;
  overflow: hidden;
}
.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.containerImg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--cyan);
  border-radius: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.containerImg:hover::before,  .view::after {
  opacity: 0.6;

}
.contentCard {
  margin: 1rem 0;
}

.headerContent > h1 {
  font-size: 2.2rem;
  margin: 1rem 0;
  font-weight: 600;
}
.headerContent > P {
  color: var(--soft-blue);
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 300;
}
.infoCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
strong {
  margin: 0 0.5rem;
}
.infoCard > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price > strong {
  color: var(--cyan);
}
.clock > strong {
  color: var(--soft-blue);
  font-weight: 300;
}
.footerContent {
  border-top: 1px solid var(--line);
  margin: 1rem auto;
}
.footerContent > picture {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem auto;
}
.footerContent > picture > img {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.footerContent > picture > p > span {
  color: var(--soft-blue);
  margin-left: 1rem;
}
